{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% set crudController = ea.crudControllers.findCrudFqcnByEntityFqcn(entity.instance.objectClass) %}
<span title="{{ entity.instance.objectClass }}">
    {% if crudController %}
        <a href="{{ ea_url().setController(crudController).setEntityId(entity.instance.objectId).setAction('detail') }}">
        {{ entity.instance.objectClass | split('\\') | last }} #{{ entity.instance.objectId }}
    </a>
    {% else %}
        {{ entity.instance.objectClass | split('\\') | last }} #{{ entity.instance.objectId }}
    {% endif %}
</span>

